*,
*::after,
*::before{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

font-family: 'Epilogue', sans-serif;
user-select: none;
}
.overflowY{
    overflow-y: hidden;
}

ul{
    list-style: none;
}

img{
    display: block;
    max-width:100%;
}
a{
    text-decoration: none;
}
 button{
    background-color: transparent;
    border:none;

 }

 .hide{
    display: none !important;
 }