.btn--filled{
    color:#fff;
    background-color: #000;
 
    font-size: 1.4rem;
    border:1px solid #000;
    &:hover{
        background-color: #fff;
        color:#000;
    }

    
}
.btn--outline{
    border:1px solid #000;
    color:#000;
}
.btn,
.btn:link,
.btn:visited{

padding:1rem 2rem;
border-radius: 1rem;
cursor: pointer;
}